
	<%- include(`./fragments/header.ejs`) %>


<main>
     <h2>Strona główna</h2>
     <p>Witamy na stronie wypozyczalni,</p>
     <p>Posługując się serwisem możemy dowolnie dodawać edytować oraz usuwać rekordy z bazy <br>
      </p>

</main>   	 
			 
<%- include(`./fragments/footer.ejs`) %>